{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blogg/style.css' %}" />
	<header>
		<div id="banner">
		<a href="{% url 'blogg:index' %}" id="banner_link">
			<h4 id="banner_header">felixbittel</h4>
		</a>
		</div>
		<div id="toolbar">
		{% if blog_list %}
			{% for blog in blog_list %}
				<div class="button" style="width:{{ button_size }}%">
					<a href="{% url 'blogg:blog' blog.topic  %}" class="blog_button">{{ blog.topic }}</a>
				</div>
			{% endfor %}
		{% endif %}
		</toolbar>
	</header>
<main>
<div id="blog">
	<div id="detail_buffer"></div>
	<div id="detail_entry">
		<h1 id="detail">{{ entry_title }}</h1>
		<p id="detail">
		{% if content %}
			{% for line in content %}
				{{ line }} <br>
			{% endfor %}
		{% endif %}
		</p>
	</div>
</div>
</main>


