{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blogg/style.css' %}" />
	<header>
		<div id="banner">
		<a href="{% url 'blogg:index' %}" id="banner_link">	
		</a>
		</div>
		<div id="toolbar">
		{% if blog_list %}
			{% for blog in blog_list %}
				<div class="button" style="width:{{ button_size }}%">
					<a href="{% url 'blogg:blog' blog.topic  %}" class="blog_button">{{ blog.topic }}</a>
				</div>
			{% endfor %}
		{% endif %}
		</toolbar>
	</header>
<main>
<div id="blog">
{% if latest_entries %}
    {% for entry in latest_entries %}
	<div class="entry_outer">
	<div class="entry_buffer" ></div>
	<div class="entry_content">
	<a href="{% url 'blogg:detail' entry.id %}" class="entry_link">
        <div class="entry_inner">
		<div class="entry_title">
			<h3 class="entry_title">{{ entry.titel }}</h3>
		</div>
		<div class="entry_preview">
			<p class="entry_preview">{{entry.content}} </p>
		</div>
	</div>
	</a>
	</div>
	</div>
    {% endfor %}
{% else %}
    <p id="msg_empty">Nothing here, yet. Please check back soon.</p>
{% endif %}
</div>
</main>
