{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blogg/style.css' %}" />
	<header>
        <div id="toolbar">
            <div id="buttons">
                <div class="button">
                    <a href="" class="blog_button">Reviews</a>
                </div>
                <div class="button">
                    <a href="" class="blog_button">Kurzgeschichten</a>
                </div>
                <div class="button">
                    <a href="" class="blog_button">Blog</a>
                </div>
                <div class="button">
                    <a href="" class="blog_button">Kontakt</a>
                </div>
            </div>
		</div>
		<div id="banner">
		<a href="{% url 'blogg:index' %}" id="banner_link">
            <div id="banner_content">
                <p><img src="{% static "blogg/images/Blue.png" %}" height="50px" width="50px"><span id="banner_header">  Felix </span><span id="banner_header2">Bittel</span></p>
            </div>
		</a>
		</div>
	</header>
<main>
<hr/>
<div id="showcase">
    <div id="showcase_content">
        <img src="{% static "blogg/images/Blue_Red.jpeg" %}" width="100%" height="250px" >
    </div>
</div>
<div id="blog">
{% if latest_entries %}
    {% for entry in latest_entries %}
	<div class="entry_outer">
	<div class="entry_buffer" ></div>
	<div class="entry_content">
	<a href="{% url 'blogg:detail' entry.id %}" class="entry_link">
        <div class="entry_inner">
		<div class="entry_title">
			<h3 class="entry_title">{{ entry.titel }}</h3>
		</div>
		<div class="entry_preview">
			<p class="entry_preview">{{entry.content}} </p>
		</div>
	</div>
	</a>
	</div>
	</div>
    {% endfor %}
{% else %}
    <p id="msg_empty">Nothing here, yet. Please check back soon.</p>
{% endif %}
</div>
</main>
