li a  {
	color: black;
}

body {
	height: 100%;
	width: 100%;
	margin-top: 0px;
 	margin-right: 0px;
 	margin-bottom: 0px;
 	margin-left: 0px;
	padding: 0px;
}

header {
	height: 20%;
	width: 100%;
}

main {
	background: linear-gradient(#73a4ef,#0444a5);
	#background: white url("images/background_steel_blue.jpg");
	width: 100%;
}

#blog {
	min-height: 100%;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	background: rgba(0, 0, 153, 0.6	);	
}

h3.entry_title {
	padding: 0;
	margin: 0;
	box-shadow: 0px 0px 0px 3px #1a1a1a;
}

a.entry_link {
	color:white;
	text-decoration:none;
	display: block;
	width: 100%;
	height: 100%;
}

div.entry_outer {
	margin-left: 10%;
	margin-right: 10%; 
	width: 80%;
	height: 33%;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

#banner {
	height: 75%;
	width: 100%;
	background: blue;
}

#toolbar {
	height: 25%;
	width: 100%;
	background: grey;
}

div.entry {
	width: 100%;
	height: 100%;
}

div.button {
    border-top: 1px solid #4d4d4d;
   	background: #65a9d7;
	box-shadow: 0px 0px 0px 1px;
	border-bottom: 1px solid #4d4d4d;
	height: 100%;
	float: left;
	text-align: center;
}

div.entry_buffer {
	height: 10%;
}

div.entry_content {
	height: 80%;
	box-shadow: 0px 0px 0px 3px #1a1a1a;
}

a#banner_link {
	display: block;
	width: 100%;
	height: 100%;
}

a.entry_link:visited {
	color:white;
	text-decoration:none;
}

a.blog_button {
	font-size: 200%;
	color: white;
	text-decoration:none;
	display: block;
}

a.blogbutton:visited {
	color: blue;
	color: white;
	text-decoration:none;
}

/** Detail page **/
h1#detail {
	margin-top: 0;
	color: white;
}

p#detail {
	color: white;
}

div#detail_entry {
	margin-left: 10%;
    margin-right: 10%; 
    width: 80%;	
}

div#detail_buffer {
	height: 5%;
}

p#msg_empty{
	margin:0;
}

