li a  {
	color: black;
}

body {
	height: 100%;
	width: 100%;
	margin-top: 0px;
 	margin-right: 0px;
 	margin-bottom: 0px;
 	margin-left: 0px;
	padding: 0px;
}

header {
	height: 20%;
	width: 100%;
}

main {
	background-color: white;
	width: 100%;
}

#blog {
	min-height: 70%;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

h3.entry_title {
	padding: 0;
	margin: 0;
	box-shadow: 0px 0px 0px 3px #1a1a1a;
}

a.entry_link {
	color:white;
	text-decoration:none;
	display: block;
	width: 100%;
	height: 100%;
}

div.entry_outer {
	width: 100%;
	height: 33%;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

#banner {
	height: 75%;
	width: 100%;
	background: white;
}

#toolbar {
	height: 25%;
	width: 100%;
	background: dodgerblue;
}

#showcase {
	min-height: 30%;
	height: 40%;
}

#showcase_content {
	margin-left: 15%;
	width: 70%;
	height: 100%;
	margin-right: 15%;
}

div.entry {
	width: 100%;
	height: 100%;
}

div.button {
<!--	box-shadow: 0px 0px 0px 1px; -->
	border-right: 1px solid #4d4d4d;
	border-left: 1px solid #4d4d4d;
	height: 100%;
	float: left;
	text-align: center;
	width: 24%;
}

div.entry_buffer {
	height: 10%;
}

div.entry_content {
	height: 80%;
	box-shadow: 0px 0px 0px 3px #1a1a1a;	
}

a#banner_link {
	display: block;
	width: 100%;
	height: 100%;
}

a.entry_link:visited {
	color:white;
	text-decoration:none;
}

a.blog_button {
	font-size: 200%;
	color: black;
	text-decoration:none;
	display: block;
}

a.blogbutton:visited {
	color: white;
	text-decoration:none;
}

/** Detail page **/
h1#detail {
	margin-top: 0;
	color: white;
}

p#detail {
	color: white;
}

div#detail_entry {
	margin-left: 10%;
    margin-right: 10%; 
    width: 80%;	
}

div#detail_buffer {
	height: 5%;
}

p#msg_empty{
	margin:0;
}

#banner_header {
	color: black;
	text-decoration: none;
	text-align: left;
	font-size: 40px;
	font-weight: bold;
	font-family: "Lucida Console", Monaco, monospace;
	letter-spacing: 5px;
	width: 300px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#banner_header2 {
	font-weight: bold;
	color: black;
	text-decoration: none;
	text-align: left;
	font-size: 40px;
	font-family: "Lucida Console", Monaco, monospace;
	letter-spacing: 5px;
	width: 300px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#banner_content {
	margin-left: 15%;
	margin-top: 50px;
	margin-bottom: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

#buttons {
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;

}
